@model JEAN_HIDALGO_EXAMEN_PARCIAL.Models.Curso

<h3>@Model.Nombre (@Model.Codigo)</h3>
<p>Créditos: @Model.Creditos | Cupo: @Model.CupoMaximo</p>
<p>Horario: @Model.HorarioInicio:hh\\:mm - @Model.HorarioFin:hh\\:mm</p>

<form asp-controller="Matriculas" asp-action="Enroll" method="post">
    <input type="hidden" name="cursoId" value="@Model.Id" />
    <button type="submit" class="btn btn-success">Inscribirse</button>
    @Html.AntiForgeryToken()
</form>
