@model IEnumerable<JEAN_HIDALGO_EXAMEN_PARCIAL.Models.Curso>

@{
    ViewData["Title"] = "Catálogo de Cursos";
}

<h2>Catálogo de Cursos</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Créditos</th>
            <th>Horario</th>
            <th>Cupo Máximo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var curso in Model)
        {
            <tr>
                <td>@curso.Codigo</td>
                <td>@curso.Nombre</td>
                <td>@curso.Creditos</td>
                <td>@curso.HorarioInicio.ToString(@"hh\:mm") - @curso.HorarioFin.ToString(@"hh\:mm")</td>

                <td>@curso.CupoMaximo</td>
            </tr>
        }
    </tbody>
</table>
